<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="assets/css/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="assets/css/estilos.css">
    <title>{{cabecera}}</title>
</head>

<body id="top">

    <!-- Header -->

    {{>header}}

<!-- Inicio del Cuerpo de la Sección -->



<!-- Footer -->

{{>footer}}

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.backtotop.js"></script>
    <script src="assets/js/jquery.mobilemenu.js"></script>
    <script src="assets/js/jquery.flexslider-min.js"></script>
</body>

</html>